ansible/.vault_pass
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.tfstate
*.tfstate.backup
.terraform/
ansible/group_vars/*/vault_*
*.pem
*.key
.env
.env.*
__pycache__/
*.pyc
ansible/vault.yaml
ansible/vault.yaml
.venv
__pycache__/
*.pyc
*.pyo
.pytest_cache/